.page_title{
    margin-bottom: 30px;
}

.img-card {
    margin-right: 40px;
    margin-left: 20px;
}

.details {
    margin-right: 30px;
    margin-left: 20px;
}

.detailsTitle-1 {
    margin-top : 25px;
    margin-bottom: 15px;
}

.bd-placeholder-img {
    margin-bottom: 6px;
}

.postLink_btn{
}