.page_title{
    margin-bottom: 30px;
}

.img-card {
    margin-right: 40px;
    margin-left: 20px;
}
.title_text {
    font-weight: bold;
}

.hotplaceImg {
    max-height: 35vh;
    max-width: 60vw;
}

.spotTitle{
    font-family : 'Hahmlet', serif;
    font-size : 3vh;
    font-weight: bold;
}

.cardText{
    margin-top: 1vh;
    font-family : 'Hahmlet', serif;
    /* font-weight :300; */
    word-break: keep-all;
}

.tagGroup{
    color: silver;
    font-family : 'Hahmlet', serif;
    font-size : 2vh;
}

.details {
    margin-right: 30px;
    margin-left: 20px;
    font-family : 'Hahmlet', serif;
}

.detailsTitle {
    font-family : 'Hahmlet', serif;
    margin-top : 25px;
    margin-bottom: 15px;
}

.bd-placeholder-img {
    margin-bottom: 6px;
}


.bookmark_btn {
    border : 1px solid lightgray;
    border-radius: 3px;
    background-color: white;
    color : black;
    font-family : 'Hahmlet', serif;
    transition: 0.5s;
    display: grid;
    margin-bottom : 10px;
}

.bookmark_btn:focus {
    outline :0;
}

.bookmark_btn_checked {
    background: black;
    color: #fff;
    border : 1px solid lightgray;
    border-radius: 3px;
    font-family : 'Hahmlet', serif;
    transition: 0.5s;
    display: grid;
    margin-bottom : 10px;
}


.postBySpotID {
    border : 1px solid lightgray;
    border-radius: 3px;
    background-color: white;
    color : black;
    font-family : 'Hahmlet', serif;
    transition: 0.5s;
    display: grid;
}