.row {
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.do {
    font-size: 2vw;
    padding-left: 19.5%;
}

.sigg {
    font-size: 1vw;
    padding-left: 20%;
}

.region_list {
    box-sizing: border-box;
    display: none;
    border: 1px solid black;
    font-family: 'Hahmlet', serif;
    padding-top: 8%;
}

.region_icons {
    box-sizing: border-box;
    border: 5px solid black;
}

.icon {
    width: 100%;
    height: 85vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.select {
    margin: 50% 0 0 70%;
    text-align: center;
    width: 5.5vw;
    height: 5.5vw;
    font-size: 1.5vw;
    border-radius: 50%;
    line-height: 100%;
    color: white;
    background-color: black;
}
