.title_text{
    width: 73vw;
    display: flex;
    padding-top: 0.5%;
    padding-right: 2%;
}
.page_contents {
    z-index: -1;
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.page_title {
    z-index: 100;
}

.card-title{
    font-weight :bold;
    overflow : hidden;  /* 길이 넘어가면 숨김 */
    text-overflow : ellipsis;  /* 말줄임표 설정 */
    white-space: nowrap;
}

.card-text {
    word-break: keep-all;
    height : 70px;
    overflow : hidden;
    text-overflow : ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:
    break-word;
}

.back_btn:hover{
   cursor: pointer;
}

.icons{
    width: 3vh;
}

.icon_btn{
    background-color: #00000000; 
    border-color: #00000000; 
    width: 3vh;
}

.dropdown.rg{
    margin-left: auto;
}

/*드롭다운 요소들 마진값 및 상태변화에 따른 색 변화*/

.dropdown-item.rg {
    color: #FFFFFF;
    margin-top: 24px;
}
.dropdown-item.rg:hover {
    background-color: #FFFFFF;
    color: black;
}
.dropdown-item.rg:focus {
    background-color: #FFFFFF;
    color: black;
}


/*호버링*/
.dropdown.rg:hover .dropdown-menu.rg{
    color: #FFFFFF;
    display: block;
    margin-left: -28.5%;
    height: 24vh;
    margin-top: -5px;
    background-color: #000000;
    border-top: #FFFFFF00;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
