.title_text{
    width: 73vw;
    display: flex;
    padding-top: 0.5%;
    padding-right: 2%;
}

.back_btn:hover{
   cursor: pointer;
}

.icons{
    width: 3vh;
}

.icon_btn{
    background-color: #00000000; 
    border-color: #00000000; 
    width: 3vh;
}

.sort_by{
    margin-left: auto;
}

/*브라우저 크기 관련 미디어 쿼리*/
@media screen and (max-width:1799px){
    .title_text{
        padding-right: 2.5%;
    }
}
@media screen and (max-width:1499px){
    .title_text{
        padding-right: 3%;
    }
}
@media screen and (max-width:1399px){
    .title_text{
        padding-right: 3.5%;
    }
}
@media screen and (max-width:1199px){
    .title_text{
        padding-right: 4%;
    }
    .sort_by{
        display:none
    }
    #down_icon{
        content:url("..\\icons\\caret-right-fill.svg");
        filter: invert(50%) sepia(92%) saturate(438%) hue-rotate(88deg) brightness(96%) contrast(85%);
    }
    .icon_btn{
        position:relative;
        top: -5px;
    }
}