.page_title{
    margin-bottom: 0px;
    z-index: 100;
}

.page_contents {
    padding-top: 0.5vh;
    padding-bottom: 3vh;
}

.details {
    margin-right: 30px;
    margin-left: 20px;
}

.detailsTitle-1 {
    margin-top : 25px;
    margin-bottom: 15px;
}

.bd-placeholder-img {
    margin-bottom: 6px;
}

.card-title {
    color: black;
    font-family: 'Hahmlet', serif;
    font-size: 2vh;
    overflow : hidden;  /* 길이 넘어가면 숨김 */
    text-overflow : ellipsis;  /* 말줄임표 설정 */
    white-space: nowrap;
}

.tagButton {
    margin-left : 2vw;
    margin-right : 8vw;
}

/* .tagButton .btn1[type="radio"]:checked {
    background: black;
    color: #fff;
  } */

.btn1 {
    all:unset;
    background-color: white;
    color : gray;
    border: 1px gray solid;
    margin-bottom: 2.5vh;
}

.btn1:focus {
    border : none;
    outline : none;
}

.card {
    margin-bottom : 5px;
    z-index : 99;
}
.card1 {
    z-index : 99;
}

.card-body{
    height : 200px;
    z-index : 99;
}

.card_image{
    height : 200;
    width : 100%;
    z-index : 99;
}

.card-text {
    height : 70px;  /* 길이 설정 */
    font-family: 'Hahmlet', serif;
    overflow : hidden;  /* 길이 넘어가면 숨김 */
    text-overflow : ellipsis;  /* 말줄임표 설정 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
}

.pageBtn {
    border : 0;
    color : gray;
    background-color: white;
    margin-right : 10px;
    margin-bottom : 5px;
}

.pageBtn:focus {
    border : 0;
    border-bottom : 1px solid gray;
    outline : none;
}


.icons{
    width: 29px;
    
}

.icon_btn{
    background-color: #00000000;
    border-color: #00000000;

}

.title_text{
    width: 73vw;
    display: flex;
    padding-top: 0.5%;
    padding-right: 2%;
}

.dropdown {
    z-index : 101;
}

.col {
    z-index : 99;
}

.dropdown.rg{
    margin-left : auto;
    /* margin-right : 1%; */
}


.dropdown-item.rg {
    color: #FFFFFF;
    margin-top: 24px;
    z-index : 100;
}
.dropdown-item.rg:hover {
    background-color: #FFFFFF;
    color: black;
    z-index : 100;
}
.dropdown-item.rg:focus {
    background-color: #FFFFFF;
    color: black;
    z-index : 100;
}


/*호버링*/
.dropdown.rg:hover .dropdown-menu.rg{
    color: #FFFFFF;
    display: block;
    
    height: 220px;
    margin-top: -5px;
    background-color: #000000;
    border-top: #FFFFFF00;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index : 100;
}

/*브라우저 크기 관련 미디어 쿼리*/

@media screen and (max-width:1459px){
    .title_text{
        padding-right: 4%;
    }
    .dropdown.rg{
        margin-left: 0;
        
    }
    #sort_by{
        display:none
    }
    #down_icon{
        filter: invert(50%) sepia(92%) saturate(438%) hue-rotate(88deg) brightness(96%) contrast(85%);
    }
}
