.page_title{
    margin-bottom: 0px;
}

.page_contents {
    padding-top: 0.5vh;
    padding-bottom: 3vh;
}

.details {
    margin-right: 30px;
    margin-left: 20px;
}

.detailsTitle-1 {
    margin-top : 25px;
    margin-bottom: 15px;
}

.bd-placeholder-img {
    margin-bottom: 6px;
}

.card-title {
    color: black;
    font-family: 'Hahmlet', serif;
    font-size: 2vh;
    overflow : hidden;  /* 길이 넘어가면 숨김 */
    text-overflow : ellipsis;  /* 말줄임표 설정 */
    white-space: nowrap;
}

.tagButton {
    margin-bottom: 10px;
    margin-left : 2vw;
    margin-right : 8vw;
}

.btn {
    margin-bottom: 5px;
}

.card {
    margin-bottom : 5px;
}

.card-body{
    height : 200px;
}

.card_image{
    height : 200;
    width : 100%;
}

.card-text {
    height : 70px;  /* 길이 설정 */
    font-family: 'Hahmlet', serif;
    overflow : hidden;  /* 길이 넘어가면 숨김 */
    text-overflow : ellipsis;  /* 말줄임표 설정 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
}

