.dropdown-menu {
    width: 300px       !important;
    height : 400px     !important;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown-item {
        margin-top :  15px;
        margin-bottom :  15px;
        }
    .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
    }
